# 1. python套件介紹

安裝套件

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/andy/anaconda/lib/python3.6/site-packages (0.20.3)
Requirement already satisfied: python-dateutil>=2 in /Users/andy/anaconda/lib/python3.6/site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in /Users/andy/anaconda/lib/python3.6/site-packages (from pandas) (2018.3)
Requirement already satisfied: numpy>=1.7.0 in /Users/andy/anaconda/lib/python3.6/site-packages (from pandas) (1.14.0)
Requirement already satisfied: six>=1.5 in /Users/andy/anaconda/lib/python3.6/site-packages (from python-dateutil>=2->pandas) (1.11.0)

匯入套件

In [4]:
import pandas

In [2]:
import pandas as pd

In [10]:
from pandas import *

In [6]:
from pandas import DataFrame

# 2. Pandas

In [1]:
import pandas as pd

Pandas結構 (structure)

In [2]:
print(type(pd.Series()))
print(type(pd.DataFrame()))
print(type(pd.Panel()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.panel.Panel'>

匯入外部檔案 (Read Data)

csv

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data.head(1)

  county town                       name      area    price
0    台北市  中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公  58,000元

In [5]:
File = pd.read_excel("Fire.xlsx")

In [6]:
File.head(1)

,年度,區域,男,女,未滿25歲,25-29歲,30-34歲,35-39歲,40-44歲,45-49歲,50-54歲,55-59歲,60-64歲,65歲以上
0,100年,新北市,1833,244,263,880,540,163,93,89,29,15,5,0

In [7]:
json = pd.read_json("construction.json")

In [8]:
json.head(1)

,AC_NO,ADDR,APPMODE,APPTIME,APP_NAME,CB_DA,CE_DA,CO_TI,C_NAME,DELAYTIME,...,ST_NO,TC_MA,TC_MA3,TC_MA3ID,TC_MAID,TC_NA,TC_TL,TC_TL3,X,Y
0,102004900,紹興南街17~21-3號與仁愛路1段1~19號,0,1060407093547,台電輸變電,1020708,1060728,依交維計畫訂定時間施工 2月11日-3月2日禁止道路施工,中正,NaN,...,1,黃少榮,連彥宇,F126173460,G121445426,長聖營造有限公司,0988038303,0937141297,302738.601,2770178.978

# 3. EDA 探索式資料分析 - 資料樣態

查看資料長相

In [9]:
df = pd.read_excel('data.xlsx')

In [10]:
df.shape

(40, 4)

In [11]:
df.size

160

In [12]:
df.dtypes

county    object
name      object
area      object
price     object
dtype: object

In [13]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [14]:
df.columns

Index(['county', 'name', 'area', 'price'], dtype='object')

In [15]:
df.values

array([['台北市中山區', '中山北路三段近結運民權西站~靠農安街~有OA家俱~', '48.8坪/辦公', '58,000元'],
       ['台北市中正區', '羅斯福路三段近捷運公館站~新生南路口~有廣告效果~', '74.4坪/辦公', '130,000元'],
       ['台中市西區', '向上北路超大裝潢套房（兩間房間打通）近草悟道', '10坪/套房', '8,000元'],
       ['台北市信義區', '忠孝東路五段近永春捷運~交通方便~生活機能佳', '22.8坪/辦公', '29,000元'],
       ['新北市蘆洲區', '永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房', '11坪/套房', '13,500元'],
       ['台北市信義區', '光復南路近捷運信義安和站~靠信義路~基隆路口~', '38.6坪/辦公', '42,000元'],
       ['桃園市中壢區', '青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱', '43坪/整層', '23,000元'],
       [nan, '光復北路近小巨蛋捷運~交通方便~生活機能佳', '36坪/辦公', '36,000元'],
       ['台南市北區', '長榮路四段58巷近火車站,成大醫院成大,崑科大', '6.5坪/套房', '6,900元'],
       ['台北市中山區', '長安東路二段近建國北路,現有OA可使用~', '33坪/辦公', '36,300元'],
       ['台北市內湖區', '民權東路六段國道市區連結核心區方正開放挑高實用辦', '114.8坪/辦公', '120,235元'],
       ['台中市龍井區', '新興路51巷看過來！東海電梯套房~長短期出租，設備齊', '7坪/套房', '5,500元'],
       ['台北市中山區', '南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所', '85.5坪/辦公', '120,000元'],
       ['台北市松山區', '基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公', '35.6坪/辦公', '36,000元'],
       ['台北市中山區', '松江路近忠孝新生,南京松江站,南京東路', '80坪/辦公', '120,000元'],
       ['台南市仁德區', '二仁路一段155巷嘉南國際學苑B館雙人精緻上下舖套房', '6坪/套房', '5,800元'],
       ['桃園市平鎮區', '東豐路526巷全新靜巷獨立套房', '7坪/套房', '7,000元'],
       ['台北市松山區', '八德路四段近松山捷運站出口~饒河街~生活機能佳', '48.3坪/辦公', '50,000元'],
       ['台北市內湖區', '瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.', '143.5坪/辦公', '150,333元'],
       ['台北市中山區', '林森北路近捷運中山站~南京東路口~溫馨隔一小房~', '22.3坪/住辦', '24,000元'],
       ['台北市中山區', '松江路64巷松江南京站【松江公園旁】五星級雅房★限女', '5坪/雅房', '6,500元'],
       ['台中市西屯區', '河南路二段系統裝潢*獨洗*獨曬*衛浴開窗*大遠百', '9坪/套房', '6,999元'],
       ['台北市中山區', '松江路近松江南京捷運站,忠孝新生,A級純辦', '146.2坪/辦公', '219,270元'],
       ['台中市東區', '育英路樂成宮旁環境超佳的新套房', '7.5坪/套房', '6,500元'],
       ['台北市中山區', '建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選', '78坪/辦公', '101,304元'],
       ['台南市中西區', '民生路一段民生路一段~電梯套房出租《限女》', '3坪/套房', '3,000元'],
       ['新北市永和區', '永和路二段工商登記2000元,可特許', '1坪/辦公', '2,000元'],
       ['台中市太平區', '東平路家電齊全套房', '10坪/套房', '7,800元'],
       ['台南市永康區', '大仁街電梯、家俱全套月租4500', '6坪/套房', '4,500元'],
       ['台北市大同區', '延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房', '8坪/套房', '33,000元'],
       ['新北市蘆洲區', '正和街蘆洲市中心湧蓮寺旁,近三民高中捷運站', '7坪/套房', '12,000元'],
       ['台中市西區', '大業路文心路大業路家樂福，全新家俱大套房', '8坪/套房', '9,500元'],
       ['新北市板橋區', '華興街府中站捷運步行５分鐘時尚精緻套房', '7坪/套房', '9,000元'],
       ['新竹市北區', '延平路一段317巷★稀有獨立陽台洗衣機1樓前可停汽機車靜巷', '8坪/套房', '7,000元'],
       ['台北市大安區', '羅斯福路三段古亭,台電捷運站,適合補習班診所', '83.2坪/辦公', '100,000元'],
       ['新竹市北區', '勝利十二街平價全新套房出租✨交通便利✨✨', '6.5坪/套房', '6,500元'],
       ['高雄市三民區', '大昌二路432巷全新大樓管理套房(附車位)', '5.5坪/套房', '6,500元'],
       ['台中市西屯區', '長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位', '12坪/套房', '8,800元'],
       ['台北市松山區', '八德路二段近南京復興站~微風廣場~生活機能佳', '17.2坪/辦公', nan],
       ['台北市中正區', '廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女', '5坪/雅房', '6,500元']],
      dtype=object)

In [16]:
df.head(2)

   county                       name      area     price
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公   58,000元
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  74.4坪/辦公  130,000元

In [17]:
df.tail(2)

    county                         name      area   price
38  台北市松山區       八德路二段近南京復興站~微風廣場~生活機能佳  17.2坪/辦公     NaN
39  台北市中正區  廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女     5坪/雅房  6,500元

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
county    39 non-null object
name      40 non-null object
area      40 non-null object
price     39 non-null object
dtypes: object(4)
memory usage: 1.3+ KB

查看特定欄位

In [19]:
df['county']

0     台北市中山區
1     台北市中正區
2      台中市西區
3     台北市信義區
4     新北市蘆洲區
5     台北市信義區
6     桃園市中壢區
7        NaN
8      台南市北區
9     台北市中山區
10    台北市內湖區
11    台中市龍井區
12    台北市中山區
13    台北市松山區
14    台北市中山區
15    台南市仁德區
16    桃園市平鎮區
17    台北市松山區
18    台北市內湖區
19    台北市中山區
20    台北市中山區
21    台中市西屯區
22    台北市中山區
23     台中市東區
24    台北市中山區
25    台南市中西區
26    新北市永和區
27    台中市太平區
28    台南市永康區
29    台北市大同區
30    新北市蘆洲區
31     台中市西區
32    新北市板橋區
33     新竹市北區
34    台北市大安區
35     新竹市北區
36    高雄市三民區
37    台中市西屯區
38    台北市松山區
39    台北市中正區
Name: county, dtype: object

# 4. EDA 探索式資料分析 - 遺失值

In [20]:
df.head(8)

   county                       name      area     price
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公   58,000元
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  74.4坪/辦公  130,000元
2   台中市西區     向上北路超大裝潢套房（兩間房間打通）近草悟道    10坪/套房    8,000元
3  台北市信義區     忠孝東路五段近永春捷運~交通方便~生活機能佳  22.8坪/辦公   29,000元
4  新北市蘆洲區  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房    11坪/套房   13,500元
5  台北市信義區    光復南路近捷運信義安和站~靠信義路~基隆路口~  38.6坪/辦公   42,000元
6  桃園市中壢區     青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱    43坪/整層   23,000元
7     NaN      光復北路近小巨蛋捷運~交通方便~生活機能佳    36坪/辦公   36,000元

In [21]:
df.isnull().any()

county     True
name      False
area      False
price      True
dtype: bool

In [22]:
df['county'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
Name: county, dtype: bool

In [23]:
df['county'].notnull()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
Name: county, dtype: bool

In [24]:
df['county'].fillna("台北市松山區")

0     台北市中山區
1     台北市中正區
2      台中市西區
3     台北市信義區
4     新北市蘆洲區
5     台北市信義區
6     桃園市中壢區
7     台北市松山區
8      台南市北區
9     台北市中山區
10    台北市內湖區
11    台中市龍井區
12    台北市中山區
13    台北市松山區
14    台北市中山區
15    台南市仁德區
16    桃園市平鎮區
17    台北市松山區
18    台北市內湖區
19    台北市中山區
20    台北市中山區
21    台中市西屯區
22    台北市中山區
23     台中市東區
24    台北市中山區
25    台南市中西區
26    新北市永和區
27    台中市太平區
28    台南市永康區
29    台北市大同區
30    新北市蘆洲區
31     台中市西區
32    新北市板橋區
33     新竹市北區
34    台北市大安區
35     新竹市北區
36    高雄市三民區
37    台中市西屯區
38    台北市松山區
39    台北市中正區
Name: county, dtype: object

In [25]:
df['county'].dropna()

0     台北市中山區
1     台北市中正區
2      台中市西區
3     台北市信義區
4     新北市蘆洲區
5     台北市信義區
6     桃園市中壢區
8      台南市北區
9     台北市中山區
10    台北市內湖區
11    台中市龍井區
12    台北市中山區
13    台北市松山區
14    台北市中山區
15    台南市仁德區
16    桃園市平鎮區
17    台北市松山區
18    台北市內湖區
19    台北市中山區
20    台北市中山區
21    台中市西屯區
22    台北市中山區
23     台中市東區
24    台北市中山區
25    台南市中西區
26    新北市永和區
27    台中市太平區
28    台南市永康區
29    台北市大同區
30    新北市蘆洲區
31     台中市西區
32    新北市板橋區
33     新竹市北區
34    台北市大安區
35     新竹市北區
36    高雄市三民區
37    台中市西屯區
38    台北市松山區
39    台北市中正區
Name: county, dtype: object

把missing值加回來

In [26]:
df['county'] = df['county'].fillna("台北市松山區")

In [27]:
df.tail()

    county                         name      area   price
35   新竹市北區         勝利十二街平價全新套房出租✨交通便利✨✨   6.5坪/套房  6,500元
36  高雄市三民區        大昌二路432巷全新大樓管理套房(附車位)   5.5坪/套房  6,500元
37  台中市西屯區  長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位    12坪/套房  8,800元
38  台北市松山區       八德路二段近南京復興站~微風廣場~生活機能佳  17.2坪/辦公     NaN
39  台北市中正區  廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女     5坪/雅房  6,500元

In [28]:
df['price'] = df['price'].fillna('24000元')

In [29]:
df.tail()

    county                         name      area   price
35   新竹市北區         勝利十二街平價全新套房出租✨交通便利✨✨   6.5坪/套房  6,500元
36  高雄市三民區        大昌二路432巷全新大樓管理套房(附車位)   5.5坪/套房  6,500元
37  台中市西屯區  長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位    12坪/套房  8,800元
38  台北市松山區       八德路二段近南京復興站~微風廣場~生活機能佳  17.2坪/辦公  24000元
39  台北市中正區  廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女     5坪/雅房  6,500元

# 5. EDA 探索式資料分析 - 資料前處理

In [30]:
df.head(8)

   county                       name      area     price
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公   58,000元
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  74.4坪/辦公  130,000元
2   台中市西區     向上北路超大裝潢套房（兩間房間打通）近草悟道    10坪/套房    8,000元
3  台北市信義區     忠孝東路五段近永春捷運~交通方便~生活機能佳  22.8坪/辦公   29,000元
4  新北市蘆洲區  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房    11坪/套房   13,500元
5  台北市信義區    光復南路近捷運信義安和站~靠信義路~基隆路口~  38.6坪/辦公   42,000元
6  桃園市中壢區     青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱    43坪/整層   23,000元
7  台北市松山區      光復北路近小巨蛋捷運~交通方便~生活機能佳    36坪/辦公   36,000元

處理area欄位

In [31]:
type(df['area'])

pandas.core.series.Series

In [32]:
type(df['area'].str)

pandas.core.strings.StringMethods

In [33]:
df['area'].str.split("/").str[0].head(5)

0    48.8坪
1    74.4坪
2      10坪
3    22.8坪
4      11坪
Name: area, dtype: object

新增欄位

In [34]:
df['坪數'] = df['area'].str.split("/").str[0]
df['房間類別'] = df['area'].str.split("/").str[1]
df.head(2)

   county                       name      area     price     坪數 房間類別
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公   58,000元  48.8坪   辦公
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  74.4坪/辦公  130,000元  74.4坪   辦公

移除欄位

In [35]:
df = df.drop("area",axis=1)
df.head(2)

   county                       name     price     坪數 房間類別
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~   58,000元  48.8坪   辦公
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130,000元  74.4坪   辦公

In [36]:
df.drop(0,axis=0).head()

   county                       name     price     坪數 房間類別
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130,000元  74.4坪   辦公
2   台中市西區     向上北路超大裝潢套房（兩間房間打通）近草悟道    8,000元    10坪   套房
3  台北市信義區     忠孝東路五段近永春捷運~交通方便~生活機能佳   29,000元  22.8坪   辦公
4  新北市蘆洲區  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房   13,500元    11坪   套房
5  台北市信義區    光復南路近捷運信義安和站~靠信義路~基隆路口~   42,000元  38.6坪   辦公

處理price欄位

In [37]:
df["price"] = df["price"].str.replace(",","")
df["price"] = df["price"].str.replace("元","")
df["坪數"] = df["坪數"].str.replace("坪","")
df.head(2)

   county                       name   price    坪數 房間類別
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~   58000  48.8   辦公
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130000  74.4   辦公

轉換資料型別

In [38]:
df.dtypes

county    object
name      object
price     object
坪數        object
房間類別      object
dtype: object

In [39]:
df['price'] = df['price'].astype('int')
df['坪數'] = df['坪數'].astype('float')
print(df.dtypes)

county     object
name       object
price       int64
坪數        float64
房間類別       object
dtype: object

In [40]:
df.head()

   county                       name   price    坪數 房間類別
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~   58000  48.8   辦公
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130000  74.4   辦公
2   台中市西區     向上北路超大裝潢套房（兩間房間打通）近草悟道    8000  10.0   套房
3  台北市信義區     忠孝東路五段近永春捷運~交通方便~生活機能佳   29000  22.8   辦公
4  新北市蘆洲區  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房   13500  11.0   套房

In [41]:
df['city'] = df['county'].str.split("市").str[0]
df['town'] = df['county'].str.split("市").str[1]
df['city'] = df['city']+'市'
df = df.drop("county",axis=1)

In [42]:
df.head()

                        name   price    坪數 房間類別 city town
0  中山北路三段近結運民權西站~靠農安街~有OA家俱~   58000  48.8   辦公  台北市  中山區
1  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130000  74.4   辦公  台北市  中正區
2     向上北路超大裝潢套房（兩間房間打通）近草悟道    8000  10.0   套房  台中市   西區
3     忠孝東路五段近永春捷運~交通方便~生活機能佳   29000  22.8   辦公  台北市  信義區
4  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房   13500  11.0   套房  新北市  蘆洲區

# 6. EDA 探索式資料分析 - 描述性統計

基本統計

In [43]:
df.describe()

               price          坪數
count      40.000000   40.000000
mean    40056.025000   32.680000
std     51458.310205   38.873201
min      2000.000000    1.000000
25%      6800.000000    7.000000
50%     12750.000000   10.500000
75%     44000.000000   44.325000
max    219270.000000  146.200000

In [44]:
df['price'].sum()

1602241

In [45]:
df['city'].value_counts()

台北市    20
台中市     7
新北市     4
台南市     4
新竹市     2
桃園市     2
高雄市     1
Name: city, dtype: int64

篩選

In [46]:
df['city']=="台北市"

0      True
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10     True
11    False
12     True
13     True
14     True
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23    False
24     True
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38     True
39     True
Name: city, dtype: bool

In [47]:
df[df['city']=="台北市"]

                             name   price     坪數 房間類別 city town
0       中山北路三段近結運民權西站~靠農安街~有OA家俱~   58000   48.8   辦公  台北市  中山區
1       羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130000   74.4   辦公  台北市  中正區
3          忠孝東路五段近永春捷運~交通方便~生活機能佳   29000   22.8   辦公  台北市  信義區
5         光復南路近捷運信義安和站~靠信義路~基隆路口~   42000   38.6   辦公  台北市  信義區
7           光復北路近小巨蛋捷運~交通方便~生活機能佳   36000   36.0   辦公  台北市  松山區
9            長安東路二段近建國北路,現有OA可使用~   36300   33.0   辦公  台北市  中山區
10       民權東路六段國道市區連結核心區方正開放挑高實用辦  120235  114.8   辦公  台北市  內湖區
12      南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所  120000   85.5   辦公  台北市  中山區
13      基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公   36000   35.6   辦公  台北市  松山區
14            松江路近忠孝新生,南京松江站,南京東路  120000   80.0   辦公  台北市  中山區
17        八德路四段近松山捷運站出口~饒河街~生活機能佳   50000   48.3   辦公  台北市  松山區
18        瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.  150333  143.5   辦公  台北市  內湖區
19       林森北路近捷運中山站~南京東路口~溫馨隔一小房~   24000   22.3   住辦  台北市  中山區
20     松江路64巷松江南京站【松江公園旁】五星級雅房★限女    6500    5.0   雅房  台北市  中山區
22          松江路近松江南京捷運站,忠孝新生,A級純辦  219270  146.2   辦公  台北市  中山區
24     建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選  101304   78.0   辦公  台北市  中山區
29  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房   33000    8.0   套房  台北市  大同區
34         羅斯福路三段古亭,台電捷運站,適合補習班診所  100000   83.2   辦公  台北市  大安區
38         八德路二段近南京復興站~微風廣場~生活機能佳   24000   17.2   辦公  台北市  松山區
39    廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女    6500    5.0   雅房  台北市  中正區

兩層篩選

In [48]:
df[(df['city']=="台北市")&(df['price']<30000)]

                           name  price    坪數 房間類別 city town
3        忠孝東路五段近永春捷運~交通方便~生活機能佳  29000  22.8   辦公  台北市  信義區
19     林森北路近捷運中山站~南京東路口~溫馨隔一小房~  24000  22.3   住辦  台北市  中山區
20   松江路64巷松江南京站【松江公園旁】五星級雅房★限女   6500   5.0   雅房  台北市  中山區
38       八德路二段近南京復興站~微風廣場~生活機能佳  24000  17.2   辦公  台北市  松山區
39  廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女   6500   5.0   雅房  台北市  中正區

排序

In [49]:
df.sort_values('price',ascending=True)

                             name   price     坪數 房間類別 city town
26             永和路二段工商登記2000元,可特許    2000    1.0   辦公  新北市  永和區
25          民生路一段民生路一段~電梯套房出租《限女》    3000    3.0   套房  台南市  中西區
28               大仁街電梯、家俱全套月租4500    4500    6.0   套房  台南市  永康區
11     新興路51巷看過來！東海電梯套房~長短期出租，設備齊    5500    7.0   套房  台中市  龍井區
15     二仁路一段155巷嘉南國際學苑B館雙人精緻上下舖套房    5800    6.0   套房  台南市  仁德區
39    廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女    6500    5.0   雅房  台北市  中正區
23                育英路樂成宮旁環境超佳的新套房    6500    7.5   套房  台中市   東區
36          大昌二路432巷全新大樓管理套房(附車位)    6500    5.5   套房  高雄市  三民區
35           勝利十二街平價全新套房出租✨交通便利✨✨    6500    6.5   套房  新竹市   北區
20     松江路64巷松江南京站【松江公園旁】五星級雅房★限女    6500    5.0   雅房  台北市  中山區
8         長榮路四段58巷近火車站,成大醫院成大,崑科大    6900    6.5   套房  台南市   北區
21       河南路二段系統裝潢*獨洗*獨曬*衛浴開窗*大遠百    6999    9.0   套房  台中市  西屯區
33  延平路一段317巷★稀有獨立陽台洗衣機1樓前可停汽機車靜巷    7000    8.0   套房  新竹市   北區
16                東豐路526巷全新靜巷獨立套房    7000    7.0   套房  桃園市  平鎮區
27                      東平路家電齊全套房    7800   10.0   套房  台中市  太平區
2          向上北路超大裝潢套房（兩間房間打通）近草悟道    8000   10.0   套房  台中市   西區
37    長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位    8800   12.0   套房  台中市  西屯區
32            華興街府中站捷運步行５分鐘時尚精緻套房    9000    7.0   套房  新北市  板橋區
31           大業路文心路大業路家樂福，全新家俱大套房    9500    8.0   套房  台中市   西區
30          正和街蘆洲市中心湧蓮寺旁,近三民高中捷運站   12000    7.0   套房  新北市  蘆洲區
4       永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房   13500   11.0   套房  新北市  蘆洲區
6          青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱   23000   43.0   整層  桃園市  中壢區
19       林森北路近捷運中山站~南京東路口~溫馨隔一小房~   24000   22.3   住辦  台北市  中山區
38         八德路二段近南京復興站~微風廣場~生活機能佳   24000   17.2   辦公  台北市  松山區
3          忠孝東路五段近永春捷運~交通方便~生活機能佳   29000   22.8   辦公  台北市  信義區
29  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房   33000    8.0   套房  台北市  大同區
7           光復北路近小巨蛋捷運~交通方便~生活機能佳   36000   36.0   辦公  台北市  松山區
13      基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公   36000   35.6   辦公  台北市  松山區
9            長安東路二段近建國北路,現有OA可使用~   36300   33.0   辦公  台北市  中山區
5         光復南路近捷運信義安和站~靠信義路~基隆路口~   42000   38.6   辦公  台北市  信義區
17        八德路四段近松山捷運站出口~饒河街~生活機能佳   50000   48.3   辦公  台北市  松山區
0       中山北路三段近結運民權西站~靠農安街~有OA家俱~   58000   48.8   辦公  台北市  中山區
34         羅斯福路三段古亭,台電捷運站,適合補習班診所  100000   83.2   辦公  台北市  大安區
24     建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選  101304   78.0   辦公  台北市  中山區
12      南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所  120000   85.5   辦公  台北市  中山區
14            松江路近忠孝新生,南京松江站,南京東路  120000   80.0   辦公  台北市  中山區
10       民權東路六段國道市區連結核心區方正開放挑高實用辦  120235  114.8   辦公  台北市  內湖區
1       羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  130000   74.4   辦公  台北市  中正區
18        瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.  150333  143.5   辦公  台北市  內湖區
22          松江路近松江南京捷運站,忠孝新生,A級純辦  219270  146.2   辦公  台北市  中山區

In [69]:
df2 = df[(df['city']=="台北市")&(20000<df['price'])&(df['price']<40000)]
df2.sort_values("price")

                             name  price    坪數 房間類別 city town
19       林森北路近捷運中山站~南京東路口~溫馨隔一小房~  24000  22.3   住辦  台北市  中山區
38         八德路二段近南京復興站~微風廣場~生活機能佳  24000  17.2   辦公  台北市  松山區
3          忠孝東路五段近永春捷運~交通方便~生活機能佳  29000  22.8   辦公  台北市  信義區
29  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房  33000   8.0   套房  台北市  大同區
7           光復北路近小巨蛋捷運~交通方便~生活機能佳  36000  36.0   辦公  台北市  松山區
13      基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公  36000  35.6   辦公  台北市  松山區
9            長安東路二段近建國北路,現有OA可使用~  36300  33.0   辦公  台北市  中山區

groupby

In [84]:
df.groupby('city').mean()

             price         坪數
city
台中市    7585.571429   9.071429
台北市   72122.100000  56.310000
台南市    5050.000000   5.375000
新北市    9125.000000   6.500000
新竹市    6750.000000   7.250000
桃園市   15000.000000  25.000000
高雄市    6500.000000   5.500000

In [85]:
df.groupby(['city','town']).mean()

               price       坪數
city town
台中市  太平區     7800.00   10.000
     東區      6500.00    7.500
     西區      8750.00    9.000
     西屯區     7899.50   10.500
     龍井區     5500.00    7.000
台北市  中山區    85671.75   62.350
     中正區    68250.00   39.700
     信義區    35500.00   30.700
     內湖區   135284.00  129.150
     大同區    33000.00    8.000
     大安區   100000.00   83.200
     松山區    36500.00   34.275
台南市  中西區     3000.00    3.000
     仁德區     5800.00    6.000
     北區      6900.00    6.500
     永康區     4500.00    6.000
新北市  板橋區     9000.00    7.000
     永和區     2000.00    1.000
     蘆洲區    12750.00    9.000
新竹市  北區      6750.00    7.250
桃園市  中壢區    23000.00   43.000
     平鎮區     7000.00    7.000
高雄市  三民區     6500.00    5.500

匯出檔案

In [ ]:
df.to_csv("整理好的租屋資料.csv")

In [14]:
df.to_excel("整理好的租屋資料.xlsx")

In [65]:
df.to_json("整理好的租屋資料.json")

In [63]:
df2 = df.groupby(['city','town']).mean()
df2.to_excel("groupby.xlsx")